.container__content {

  width: 100%;
  height: 100vh;

  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border: 3px solid  rgb(144, 144, 144);
  border-radius: 5px;
  width: 700px;
  min-width: 700px;
  height: 500px;
}

.content__description{
  margin-top: 15px;
}

.content__description > p{
  margin-top: 20px;
  color: #c1c1c1;
}
