.container__card-small {
  width: 43.75rem; /* 700px convertidos para rem */
  margin-bottom: 0.9375rem; /* 15px convertidos para rem */
  max-width: 100%; /* Torna o elemento responsivo */
}

.container__card-small-content {
  display: flex;
  flex-direction: row;
}

.card-small__photo > img {
  width: 11.25rem; /* 200px convertidos para rem */
  min-width: 11.25rem; /* 200px convertidos para rem */
  margin-right: 1.25rem; /* 20px convertidos para rem */
}

.card-small__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__card-small__separator {
  margin-top: 0.625rem; /* 10px convertidos para rem */
}
