<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-card-big
      Id="1"
      photoCover="https://github.com/ElizabeteFabri/dio-bootcamp-angular-java/raw/main/github/images/bgdio.png"
      cardTitle="Dio - Bootcamp Santander 2023"
      cardDescription="Confira meu portifólio no Github"
    >
  </app-card-big>
  </div>
  <div class="articles__outhers">
    <app-card-small
      Id="2"
      photoCover="https://user-images.githubusercontent.com/67619417/266747548-14b01ad0-3999-4bb7-bbf6-85872cbf5702.png"
      cardTitle="Desafio - 01 Listagem de Pokémon"
    ></app-card-small>

  </div>
</div>
