.container__card-big{

  margin-left: 20px;
  margin-right: 20px;

  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-big__title > h1  {
  margin-top: 15px;
  font-size: 20px;
}

.card-big__description{
  margin-top: 20px;
}

.card-big__description > p > a {
  color: grey;
}

.card-big__photo > img{
  width: 100%;
  min-width: 400px;
}
