<div class="container__card-big">
  <div class="card-big__photo">
    <img src="https://github.com/ElizabeteFabri/spring-reactjs/raw/main/banner.png"
    alt=""  srcset="">
  </div>
  <div class="card-big__title">
    <h1><a href="#">Meus projetos</a></h1>
  </div>
  <div class="card-big__description">
    <p>
      <a href="">
        Esse é o texto do Card - Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla architecto eum atque veniam aliquid vitae ipsam porro.
        Beatae facilis perspiciatis illo sequi ipsa ex voluptatibus blanditiis iste, doloribus, temporibus iusto.
      </a>
    </p>

  </div>

</div>
